[Unit]
Description=CIRNO-ICAP Keyword Filter
After=network.target clamav-daemon.service

[Service]
# Create a user named 'cirno' and point this to /opt/CIRNO-ICAP
User=cirno
Group=cirno
WorkingDirectory=/opt/CIRNO-ICAP
ExecStart=/opt/CIRNO-ICAP/venv/bin/python3 /opt/CIRNO-ICAP/icap.py

# Security hardening (optional but good)
ProtectSystem=full
PrivateTmp=true

Restart=always
RestartSec=3

[Install]
# multi-user.target is the standard for servers
WantedBy=multi-user.target
